@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body{
  background-color: bisque!important;
  margin: 0;
  font-family: 'Comic Neue', cursive !important;
}

input[type="number"]{
  background-color: rgb(251, 244, 234)!important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', cursive;
  font-weight: 700;
}

.form{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
}

.Cargas{
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  
}

.datos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-left: 20px;
  margin-right: 30px; */
}

p.info{
  margin-left: 20px;
}
h4,h2,p.info{
  margin-bottom: 0;
}

.contenido{
  text-align: center;
}

.Ppositiva.active.labels.btn.btn-secondary{
  background-color: red;
  border-color: crimson;
}

.Pnegativa.active.labels.btn.btn-secondary{
  background-color: blue;
  border-color: steelblue;
}

button{
  width: 200px
}

.labels{
  width: 70%;
}

.punto .labels{
  margin-left: 40px;
  width: 60%;
}

.btn-group.btn-group-toggle{
  margin-bottom: 12px;
}

.oculto{
  display: none;
}
#arrow{
  max-width: 80px
}
.textDireccion{
  position:relative;
  top: -15px;
}
.creditos{
  width: 100%;
  bottom:0;
  display: flex;
  justify-content: space-around;
  background: rgb(194, 172, 129);
}
.contenido{
  margin:3%;
}

.explicacionPunto{
  display: grid;
}

.punto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#chartContainer{
  margin: auto;
}

.card-body{
  background-color: bisque;
}
.card-header{
  background-color: rgb(251, 244, 234)!important;
}

.card-header h3, .card-header h3 button{
  background-color: rgb(251, 244, 234);
  height: 100%;
  width: 100%;
}

.datosAbajo{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-column-gap: 60px;
}